<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <img class="nguyen" src= "/images/1.jpg" alt="">
</body>
</html>
